@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
}

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}
.clearfix::after {
  clear: both;
}

* {
  box-sizing: border-box;
}

header {
  background-color: #5385c1;
  font-size: 24px;
  padding: 20px;
}

h1.heading {
  margin-top: 100px;
}

.heading {
  font-size: 44px;
  text-align: center;
  color: #f1f5fa;
  padding: 30px;
}
.logo {
  color: white;
  font-size: 24px;
  float: left;
  margin: 0 16px;
}
h4 {
  font-size: 16px;
  text-align: center;
  color: #82a2cc;
  padding-bottom: 30px;
}
.nav {
  float: right;
}

header a {
  text-decoration: none;
  color: white;
  margin: 0 16px;
  font-size: 20px;
}
.container {
  max-width: 100%;
  padding-top: 30px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 50px;
}
.col {
  padding: 20px;
  float: left;
  margin: 1.5%;
}
.col-1 {
  width: 30%;
}
.col-2 {
  width: 30%;
}
.col-3 {
  width: 30%;
}

h3 {
  font-size: 24px;
  color: #5385c1;
}
.paragraph {
  font-size: 12px;
  color: black;
}

.btn {
  margin-top: 20px;
  background-color: #5385c1;
  font-size: 14px;
  width: 80px;
  padding: 8px;
  border: none;
  cursor: pointer;
}
.more {
  text-decoration: none;
  color: white;
}

.personinfo {
  background-color: #5385c1;
}
.personinfo .card {
  width: 25%;
  float: left;
  padding: 0 15px;
}
.box {
  border: 2px solid #bacee6;
  width: 220px;
  padding: 15px;
}
.image {
  border-radius: 50%;
}
.about {
  color: white;
  font-size: 24px;
  text-align: center;
}
.thirdsection {
  width: 48%;
  float: left;
  padding: 60px 0;
  margin: 10px;
}
.highway {
  width: 100%;
  border-radius: 2px;
}
.heading3 {
  font-size: 40px;
  color: #5385c1;
  text-align: center;
  padding-bottom: 30px;
}
hr {
  margin: auto;
  width: 85%;
}
.footer {
  display: inline-block;
}
.icon {
  width: 15px;
  height: 15px;
  margin: 0 10px;
  float: right;
}

.copyright {
  float: left;
  width: 60%;
}
.icon-container {
  float: right;
}
.copyright a {
  text-decoration: none;
  font-size: 15px;
  color: black;
}

p {
  font-size: 12px;
}
